<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search | GitHub's Followers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
  </head>
  <body>
    <div class="container">
        <form action="/" method="post" class="form-inline">
          <input name="username" type="text" class="form-control" placeholder="Enter Github's username" required>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <table class="table">
        <% if(persons !== null){ %>
            <thead>
                <tr>
                    <th scope="col">Avatar</th>
                    <th scope="col">Login</th>
                    <th scope="col">URL</th>
                </tr>
            </thead>
            <tbody>
            <%for(var i=0;i<persons.length;i++){ %>
            <tr>
                <td><img style="max-width: 200px" class="img-thumbnail" src=<%= persons[i].avatar_url %>/></td>
                <td><%= persons[i].login %></td>
                <td><a href=<%= persons[i].html_url %>><%= persons[i].html_url %></a></td>
            </tr>
        <% } %>
            </tbody>
        </table>
      <%} else { %>
        <p class="lead">
            <%= error %>
        </p>
      <% } %>
    </div>
  </body>
</html>
